name: Music Assistant DEV SERVER
# version number gets updated only when the mass base image updates!
version: 1.4.9d
slug: music_assistant_dev
description: Development add-on for Music Assistant. For developers only.
url: https://music-assistant.io
arch:
  - amd64
  - aarch64
homeassistant_api: true
audio: true
auth_api: true
host_network: true
ingress: true
ingress_port: 8094
panel_icon: mdi:play-circle
panel_title: Music Assistant
panel_admin: false
uart: false
host_dbus: true
apparmor: true
map:
  - media:rw
init: false
advanced: false
stage: experimental
tmpfs: true
backup_exclude:
  - cache.db
  - collage_images/*
  - .cache/*
options:
  log_level: info
  server_repo: ""
  frontend_repo: ""
  safe_mode: false
schema:
  log_level: list(debug|info|warning|error)
  server_repo: str?
  frontend_repo: str?
  safe_mode: bool
privileged:
  - SYS_ADMIN
  - DAC_READ_SEARCH
