name: Music Assistant Server (dev/nightly)
# version number gets updated only when the mass base image updates!
version: 1.3.2
slug: music_assistant_dev
description: Development (nightly) version of Music Assistant.
  This add-on installs the latest version from the (configurable) branch directly from git at startup.
  Install this version if you want to keep up with the latest bleeding edge development but use it at your own risk, not recomended for daily use.
  Simply restart the add-on to fetch the latest version from source.
url: https://music-assistant.io
arch:
  - amd64
  - aarch64
homeassistant_api: true
auth_api: true
host_network: true
ingress: true
ingress_port: 8094
panel_icon: mdi:play-circle
panel_title: Music Assistant
panel_admin: false
uart: false
map:
  - media:rw
init: false
advanced: false
stage: experimental
tmpfs: true
backup_exclude:
  - cache.db
  - collage_images/*
  - .cache/*
options:
  log_level: info
  branch: dev
  safe_mode: false
schema:
  log_level: list(debug|info|warning|error)
  branch: str
  safe_mode: bool
privileged:
  - SYS_ADMIN
  - DAC_READ_SEARCH
