name: Music Assistant Server (beta)
version: 2.7.0b3
slug: music_assistant_beta
description: BETA version of Music Assistant. Install this version if you want to
  keep up with the latest and greatest and don't mind some beta testing. Follow us
  on discord to report and discuss feedback!
url: https://music-assistant.io
arch:
- amd64
- aarch64
homeassistant_api: true
auth_api: true
host_network: true
ingress: true
ingress_port: 8094
panel_icon: mdi:play-circle
panel_title: Music Assistant
panel_admin: false
uart: false
map:
- media:rw
init: false
advanced: false
backup_exclude:
- cache.db
- collage_images/*
- .cache/*
stage: stable
image: ghcr.io/music-assistant/server
tmpfs: true
options:
  log_level: info
  safe_mode: false
schema:
  log_level: list(debug|info|warning|error)
  safe_mode: bool
privileged:
- SYS_ADMIN
- DAC_READ_SEARCH
